<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDAJ2cr3bhqCjP5moNz17uVZtqXHY8RS1M</string>
	<key>GCM_SENDER_ID</key>
	<string>687931506020</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loginSignup.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>fluttermobile-7022f</string>
	<key>STORAGE_BUCKET</key>
	<string>fluttermobile-7022f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:687931506020:ios:fa2b9d90bb290355468e71</string>
</dict>
</plist>